@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    box-sizing: border-box
}

/*body*/
.header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#atm_body {
    width: 875px;
    height: 950px;
    background-color: #373c46;
    padding: 25px;
    border-radius: 5px;
}

/*bank name*/
.atm_name {
    width: 350px;
    height: 50px;
    position: relative;
    padding-left: 5px;
    margin: -10px 0 10px 225px;
    background-color: #333333;
    border: 3px #282c34 solid;
    border-radius: 5px;
}

.bank_logo {
    width: 25px;
    height: 25px;
    position: relative;
    margin-top: 3px;
    margin-left: 3px;
}

.name {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: teal;
}

/*display and buttons*/
#atm_upper {
    width: auto;
    height: 375px;
    position: relative;
}

.btn {
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #8a8a8f 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    height: 62px;
    width: 62px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%),
    linear-gradient(180deg, hsl(0, 0%, 78%) 0%,
            hsl(0, 0%, 90%) 47%,
            hsl(0, 0%, 78%) 53%,
            hsl(0, 0%, 70%) 100%);
}

#buttons_right {
    position: relative;
    margin-top: 12px;
    float: right;
}

#buttons_left {
    position: relative;
    margin-top: 12px;
    float: left;
}

#display {
    height: 375px;
    width: 625px;
    position: relative;
    margin-left: 40px;
    margin-right: 20px;
    border: #303236 7px inset;
    float: left;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

/*numerical keyboard*/
#keypad {
    margin-top: 15px;
    margin-left: 25px;
    padding: 20px;
    position: absolute;
    background: repeating-linear-gradient(
            -55deg,
            #222,
            #222 10px,
            #1c1d20 10px,
            #1c1d20 20px
    );
    border: 10px #282c34 solid;
    border-radius: 10px;
}

.money_slot {
    margin-top: 370px;
    margin-left: 25px;
    width: 472px;
    height: 100px;
    position: absolute;
    background: repeating-linear-gradient(
            -55deg,
            #222,
            #222 10px,
            #1c1d20 10px,
            #1c1d20 20px
    );
    border: 10px #282c34 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slot {
    width: 420px;
    height: 50px;
    background-color: #1f1f1f;
}

.door {
    position: absolute;
    width: 420px;
    height: 50px;
    background-color: hsl(0, 0%, 90%);
    box-shadow: inset hsla(0, 0%, 15%, 1) 0 0 0 1px, /* border */ inset hsla(0, 0%, 15%, .8) 0 -1px 5px 4px, /* soft SD */ inset hsla(0, 0%, 0%, .25) 0 -1px 0 7px, /* bottom SD */ inset hsla(0, 0%, 100%, .7) 0 2px 1px 7px; /* top HL */

    transition: color .2s;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%),
    linear-gradient(180deg, hsl(0, 0%, 78%) 0%,
            hsl(0, 0%, 90%) 47%,
            hsl(0, 0%, 78%) 53%,
            hsl(0, 0%, 70%) 100%);
}

.door:hover {
    animation-name: example;
    animation-duration: 4s;
}

.moeny{
    transform: rotate(180deg);
}

#money, #money2, #money3, #money4, #money5 {
    background-color: #118c4f;
    background-image: linear-gradient(0deg, #072e1b 10%, #0b4a2b 74%);
    border: #000 solid 1px;
    position: absolute;
    width: 350px;
    bottom: 5px;
    left: 35px;
    height: 25px;
    transform: skew(135deg);
}

#money2 {
    bottom: 10px;
}

#money3 {
    bottom: 15px;

}

#money4 {
    bottom: 20px;
}

#money5 {
    bottom: 25px;
}

@keyframes example {
    0% {
        height: 50px
    }
    50% {
        height: 6px
    }
    100% {
        height: 50px
    }
}

#num_btn_esc, #num_btn_backspace, #num_btn_empty_long, #num_btn_enter {
    width: 144px;
}

#num_btn3, #num_btn6, #num_btn9, #num_btn_empty_l {
    margin-right: 62px;
}

.column {
    float: left;
}

#btn1, #btn2, #btn3, #btn5, #btn6, #btn7 {
    margin-bottom: 30px;
}

/*button press animation*/
.btn:active {
    box-shadow: #adadad 0 3px 7px inset;
    transform: translateY(2px);
}

/*panel with credit card, card reader*/
.panel {
    width: 250px;
    float: right;
}

.card_reader {
    position: relative;
    margin-top: 15px;
    margin-right: 40px;
    border-radius: 5px;
    border: 0.5rem outset #282c34;
    width: 200px;
    height: 150px;
    float: right;
    background: repeating-linear-gradient(
            -55deg,
            #222,
            #222 10px,
            #1c1d20 10px,
            #1c1d20 20px
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tap_to_pay {
    width: 125px;
    position: absolute;
    -webkit-user-select: none;
}

.led {
    width: 10px;
    height: 10px;
    background-color: #004708;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;

}

#led {
    left: 50px;
}

#led2 {
    left: 70px;
}

#led3 {
    left: 90px;
}

#led4 {
    left: 110px;
}

.cards {
    width: 200px;
    float: right;
}

.card_body {
    color: #dbdbdb;
    font: 12px/1.5 sans-serif;
    -webkit-user-select: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 140px;
    text-align: left;
    padding: 10px;
    margin: 15px 40px 0 0;
    border-radius: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-size: cover;
    float: right;
    transition: transform 1s;
}

#card {
    background-image: url("../img/card_background.jpg");
}

#card2 {
    background-image: url("../img/card2_background.jpg");
}

.card_bank {
    position: absolute;
    color: #1e5989;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    top: 3px;
    left: 25px;
}

.card2_bank {
    position: absolute;
    color: #236700;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    top: 3px;
    left: 25px;
}

.card_bank_logo {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    filter: sepia(100%) hue-rotate(165deg) saturate(300%);
}

.card2_bank_logo {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    filter: sepia(100%) hue-rotate(50deg) saturate(450%);
}

.card_chip {
    height: 70px;
    width: 80px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../img/chip.svg");
    color: #ffffff;
    bottom: 20px;
    left: 20px;
}

.card_nfc {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 67px;
    left: 45px;
}

.card_number {
    font-size: 18px;
    padding: 5px 0 0;
    margin-top: 25px;
    text-align: center;
    font-family: kredit-front, serif;
    font-weight: bold;
    position: absolute;
    bottom: 40px;
    left: 10px;

}

.card_type {
    font-size: 7px;
    position: absolute;
    bottom: 38px;
    left: 15px;
    color: black;
}

.card_date {
    font-size: 4px;
    line-height: 5px;
    position: absolute;
    bottom: 26px;
    left: 75px;
    color: black;
}

.card_expiry-date {
    font-size: 15px;
    text-align: center;
    font-family: kredit-front, serif;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 90px;
}

.card_owner {
    text-align: left;
    font-family: kredit-front, serif;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
}

.card_logo {
    height: 30px;
    width: 45px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/*credits*/
#credits {
    color: black;
    margin-top: 50px;
    background-color: #333333;
    padding: 5px;
    border: 5px solid #000000;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;
    position: relative;
}
