/*css for app.js*/
.menu {
    position: relative;
}

.atm_btn {
    padding-top: 8px;
    color: #B8B8B8;
    background-color: #333;
    border-radius: 10px;
    width: 225px;
    height: 55px;
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    -webkit-user-select: none;
    opacity: 0.9;
}

.atm_btn_i {
    padding-top: 5px;
    width: 225px;
    height: 55px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.atm_btn_short {
    position: relative;
    padding-top: 5px;
    color: #B8B8B8;
    background-color: #333;
    border-radius: 10px;
    width: 65px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    -webkit-user-select: none;
    opacity: 0.9;
}

#right {
    float: right;
    margin-right: 15px;
    position: relative;
}

#left {
    float: left;
    margin-left: 15px;
    position: relative;
}

.page_msg {
    margin-top: 120px;
    margin-left: 150px;
    position: absolute;
    color: #B8B8B8;
    background-color: #333;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    -webkit-user-select: none;
    opacity: 0.9;

}

.page_msg_s {
    margin-top: 10px;
    margin-left: 150px;
    position: absolute;
    color: #B8B8B8;
    background-color: #333;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    padding-top: 15px;
    font-size: 75%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    -webkit-user-select: none;
    opacity: 0.9;
}

.long{
    height: 200px;
}

.pin{
    background-color: #1c1d20;
    color: #B8B8B8;
    font-size: 250%;
    border: black 2px solid;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 175px;
    left: 175px;
    -webkit-user-select: none;
    padding: 0 15px 0 15px;
    text-align: center;
}

#wrong{
    position: absolute;
    display: none;
    left: 225px;
    top: 200px;
    color: #ff0000;
    font-size: 100%;
}

.pin_value{
    display: none;
}

.sucess_msg{
    font-size: 15px;
}